
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* seared style */
.display-flex{
  display: flex;
}
/* color style */
/* d2 */
.text-grey{
color: #424242;
}
/* d3 */
.text-light-grey{
  color: #727272;
}
.bg-light{
  background-color: rgba(255, 144, 14, 0.1);
  width: 100vw;
}

.primsry-btn{
  background-color:#FF900E ;
  color:white ;
  padding: 20px 25px;
  font-size:1.5rem;
  font-weight: 600px;
}
.section-left-margin{
  margin-left: 130px;
}



/* header style */

/* navbar related style */

.navbar{
  justify-content: space-between;
}
.nav-item{
  list-style: none;
  margin: 30px;
}
.nav-link{
  text-decoration: none;
  width: 500px;
}
.navbar,.banner{
  max-width: 1400px;
  margin: 0 auto 0 auto;
}
.brand{
  font-size: 3rem;
  font-weight: bold;
}

/* style .banner */

.banner-container{
  margin: 0 auto;
  text-align: center;
  margin-bottom: 60px;
  }
  .banner-title{
    font-weight: 700px;
    font-size: 4rem;
    margin-bottom: 40px;
  }
  .primsry-btn{
    margin-top: 40px;
  }
  .banner-image{
    width: 100%;
  }

  /* main-style */
  main{
    max-width: 1400px;
    margin: 0 auto 0 auto;
  }
  .tames{
    display: flex;
    margin-top: 50px;
    margin-left: 150px;
  }
  .tames-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
  }
  .tames-features-container{
    max-width:500px ;
    margin-left: 35px;
    margin-top: 155px;
  }
  .tames-features-title{
    font-weight: 700px;
    font-size: 3rem;
  }
  #quick-list{
    max-width: 500px;
  }
  .Features{
    color:#FF900E;
  }

/* Features you will love & enjoy */
.features-will-enjoy{
  margin-left: auto;
  margin-right: auto;
  margin-top: 130px;
}
.features-container{
  margin-bottom: 30px;
}

.features-title{
  font-weight: 800px;
  font-size: 3rem;
  border-left: #FF900E 5px solid;
  padding: 21px;
  margin-top: 0;
  margin-bottom: 0;
}
.features-card-title{
  font-weight: 700px;
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 0;
}
.features-card-container{
  display: grid;
  gap: 25px;
  padding: 25px;
}
.features-img-container{
  margin-left: 54px;
}
#experience-badge{
  margin-top:-100px;
  margin-right: -100px;
  border-radius: 8px
}

  /* facts style */
  .facts-title{
    font-weight: bold;
    font-size: 3rem;
  }
  .card-container{
    display: flex;
  }
  .flex-card-container{
    display: grid;
    gap: 124px;
  }
  .facts-card{
    
    border: 1px solid #FF900E;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 240;
    height: 240;
  }
 /* our sponsors */
 .Our-Sponsors{
  margin-top: 140px;
 }
 .sponsors-container{
  justify-content: center;
  text-align: center;
 }
 .sponsors-company-container{
  justify-content: center;
  text-align: center;
  display: flex;
  gap: 90px;
  margin-top: 50px;
 }
 .sponsors-title{
  font-weight: 800px;
  font-size: 3rem;
 }

 .sponsors-company-container>img{
  filter: grayscale(100);
 }
/* footer-style */
footer{
  display: flex;
  /* align-items: center; */
  justify-content: center;
}
.footer>p{
  background-color: #FFF4E7;
  width: 620px;
  height: 23px;
  padding: 20px 200px;

}


  /* header responsive */
  @media screen and (max-width: 756px) {
    .navbar,.nav-links,.tames {
      flex-direction: column;
    }
    .tames-img-container,.sponsors-company-container{
      display: grid;
      grid-template-columns: repeat(1,1fr);
      justify-content: center;
      align-items: center;
    }
  }

  /* medium media query */

  @media screen and (min-width: 576) and (max-width: 992) {
      .tames{
        flex-direction: column;
      } 
      .tames-img-container{
        display: grid;
        grid-template-columns: repeat(2,2fr);
      }   
  }

